{% extends "capstone/layout.html" %}
{% load static %}

{% block style %}
<link href="{% static 'capstone/styles.css' %}" rel="stylesheet">
{% endblock %}


{% block body %}

<h2 class="mb-1 mt-0 ml-3">{{user.username}}'s Bookmarks</h2>

<hr/>
<div class="container">
  <ul class="list-unstyled infinite-container">
  	{% csrf_token %}
	{% for news in articles  %}

	<div class="media bookmarks infinite-item post" id="news{{ news.id }}">
		<img src={{news.image}} width="64" height="64" class="align-self-center mr-3" alt={{news.title}}>
		<div class="media-body">
			 <span class=" h3 mt-0 mb-1" style="text-align:left;">{{ news.title }}  <span class="d-inline-block" tabindex="0"> 

			 	
			 	<div class="tooltips"> <i data-like={{news.like}} data-id={{news.id}} class="bi bi-balloon-heart-fill" 
			 	> </i> 
        <span class="tooltiptext">like button</span>
				</div>

			 		 	</span> 
</span>  <br/>

			  <span class="pd-1 text-muted" style="color:grey;">{{ news.timestamps | date }} </span> </br> 
			  <p>
			 {{ news.description }} 
			  <a class="mt-1 pd-1" href={{news.imgurl}} target="_blank">Link to Full Article</a>
			
			
			</br>
			 Written by {{ news.author }}  
			  retrieved from <strong> {{ news.source }} </strong> 
			</br>
		</p>
			 
			<button class="btn btn-danger rounded-pill delete mt-1 pd-1 hide" data-btn="news{{ news.id }}" type="submit">Delete bookmark</button>	


	
		</div>
	 </div>
	</br>
	{% empty %}
	<div class="alert alert-info" role="alert">
		<h4 class="alert-heading">Ooops, Zero Bookmarks!</h4>
	<p> Hi {{ user.username }}, you do not have any bookmarks</p>
	<p class="mb-0"> Headover to <a href="{% url 'index' %}">Home</a> to get started </p>
	</div>
</br>
</br>
	{% endfor %}
	</ul>
</div>

<div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-header">
    <img src="..." class="rounded mr-2" alt="...">
    <strong class="mr-auto">Bootstrap</strong>
    <small class="text-muted">11 mins ago</small>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body">
    Hello, world! This is a toast message.
  </div>
</div>
 {% if articles.has_next %}
 	<a class="pagination__next" href="?page={{articles.next_page_number}}"></a>
 	{% endif %}
 <div class="page-load-status">
  <div class="loader-ellips infinite-scroll-request">
    <span class="loader-ellips__dot"></span>
    <span class="loader-ellips__dot"></span>
    <span class="loader-ellips__dot"></span>
    <span class="loader-ellips__dot"></span>
  </div>
  <p class="infinite-scroll-last">End of content</p>
  <p class="infinite-scroll-error">No more pages to load</p>
</div>

{% endblock %}


{% block script %}
    <script src="https://unpkg.com/infinite-scroll@4/dist/infinite-scroll.pkgd.js"> </script>
        <script type="text/javascript">


     document.addEventListener('DOMContentLoaded', ()=> {
      		// var infinite = new Waypoint.Infinite({
	// 	element: document.querySelector('.infinite-container')
	// });
	let elem = document.querySelector('.infinite-container');
	console.log(elem);
	// init Infinte Scroll
	let infScroll = new InfiniteScroll(elem, {
  	  // options...
	  path: '.pagination__next',
	  append: '.infinite-item',
	  history: false,
	  status: '.page-load-status',
	  hideNav: '.pagination__next',
	  scrollThreshold: 50,
});

function getPenPath() {
  const nextPenSlugs = document.querySelector('.pagination__next').getAttribute('href');

  let slug = nextPenSlugs[ this.loadCount ];
  console.log(slug);
  if ( slug ) return `/localhost/bookmarks/${slug}`;

}

// 	infScroll.loadNextPage().then( function( loaded ) {
//   // next page has been loaded
//   let { response, body, items } = loaded;
//   console.log( response.path );
//   console.log( body );
//   console.log( items );
// } );

    

      	});
       	
	   </script>
    <script src="{% static 'capstone/bookmarks.js' %}"></script>



<script type="text/javascript" src="{% static 'capstone/popper.min.js' %}"></script>
{% endblock %}

  
<div class="media">
  <div class="media-body">
    <h5 class="mt-0 mb-1">Media object</h5>
    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
  </div>
  <img src="..." class="ml-3" alt="...">
</div>
