{% extends "capstone/layout.html" %}
{% load static %}


{% block body %}

<h2>{{user.username}} Bookmarks</h2>

<div class="container">
  <ul class="list-unstyled">
	{% for news in articles %}
	<div class="media">
		<img src={{news.image}} width="64" height="64" class="align-self-center mr-3" alt={{news.title}}>
		<div class="media-body">
			 <h5 class="mt-0 mb-1">{{ news.title }} </h5>
			  {{ news.timestamps | date }}  </br> <strong> {{ news.source }} </strong> </br>
			 {{ news.description }} 
			
			</br>
			 Written by {{ news.author }} 
			</br>
			<!-- </br> -->
			  <span><a href={{news.imgurl}} target="_blank">Link to Full Article</a></span>
			</br>
			<button class="btn btn-danger delete" type="submit">Delete article</button>
				

		</div>
	 </div>
	</br>
	{% empty %}
	<p> Hi {{ user.username }}, you do not have any bookmarks headover to <a href="{% url 'index' %}">Home</a> to get started</p>

	{% endfor %}
	</ul>
</div>
{% endblock %}

{% block script %}
    <script src="{% static 'capstone/bookmarks.js' %}"> </script>
{% endblock %}


<div class="media">
  <div class="media-body">
    <h5 class="mt-0 mb-1">Media object</h5>
    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
  </div>
  <img src="..." class="ml-3" alt="...">
</div>
