/**{
  margin: auto;
}*/
.bi-check-circle-fill{
  color: blue;
}
.bi-x-circle-fill{
  color:red;
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}




form{
  margin: 50px auto;
}
.search {
  max-width: 600px;
  margin: auto;
}

.adv-search {
  width: 100%;
}

/* CSS for animated dropdown effect... PRETTY!*/

@media (min-width: 768px) {
  .animate {
    animation-duration: 0.3s;
    animation-fill-mode: both;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(6rem);
    opacity: 0;
  }
  100% {
    transform: translateY(3rem);
    opacity: 1;
  }
  0% {
    transform: translateY(6rem);
    opacity: 0;
  }
}

.slideIn {
  animation-name: slideIn;
}

.bi-x-circle-fill, .bi-search{
  color: white;
}

.infinity-item{
  margin-top: 75px;
}

.page-load-status {
  display: none; /* hidden by default */
  padding-top: 20px;
  border-top: 1px solid #DDD;
  text-align: center;
  color: #777;
}

.bi-balloon-heart-fill:hover {
  cursor: pointer;
}


@keyframes hide {
                0% {
                    opacity: 1;
                    height: 100%;
                    line-height: 100%;
                    padding: 20px;
                    margin-bottom: 20px;
                }
                75% {
                    opacity: 0;
                    height: 100%;
                    line-height: 100%;
                    padding: 20px;
                    margin-bottom: 20px;
                }
                100% {
                    opacity: 0;
                    height: 0px;
                    line-height: 0px;
                    padding: 0px;
                    margin-bottom: 0px;
                }
            }

            .hide  {
                float: right;
            }


            .post {
/*                background-color: #77dd11;*/
                padding: 20px;*/
                margin-bottom: 10px;
                line-height: 2em;
                animation-name: hide;
                animation-duration: 2s;
                animation-fill-mode: forwards;
                animation-play-state: paused;
            }

.tooltips {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltips .tooltiptext {
  visibility: hidden;
  width: 6.5em;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 12px;
  padding: 7px 0;
  font-size: 0.5em;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltips:hover .tooltiptext {
  visibility: visible;
}